
<aside class="menu sideMenuContainer">
  <p class="menu-label menuLabelText has-text-centered">
    Regions
  </p>
  <ul class="menu-list">
    <li class ="listmenuOptions"> <a class="menuOptions is-size-4 has-text-centered">The Caribbean</a> </li>
    <li class = "listmenuOptions"> <a class="menuOptions is-size-4 has-text-centered">Central America</a> </li>
    <li class = "listmenuOptions"> <a class="menuOptions is-size-4 has-text-centered">South America</a> </li>
    <li class = "listmenuOptions"> <a class="menuOptions is-size-4 has-text-centered">All</a> </li>
</aside>
<div class="container  homeMainContainer">
<div class="columns">
  <div class="column">
    You Are Currently Viewing: <span class="displaySection"> This </span>
  </div>
</div>
</div>
