<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image is-5by4">
      <img src="" class="modalImg">
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<aside class="menu sideMenuContainer">
  <p class="menu-label menuLabelText has-text-centered">
    Regions
  </p>
  <ul class="menu-list">
    <li class="listmenuOptions">
      <a class="menuOptions is-size-4 has-text-centered">The Caribbean</a>
    </li>
    <li class="listmenuOptions">
      <a class="menuOptions is-size-4 has-text-centered">Central America</a>
    </li>
    <li class="listmenuOptions">
      <a class="menuOptions is-size-4 has-text-centered">South America</a>
    </li>
    <li class="listmenuOptions">
      <a class="menuOptions is-size-4 has-text-centered randomOption" href="/">Random</a>
    </li>
  </aside>
  <div class="container-fluid homeMainContainer">
    <div class="columns">
      <div class="column has-text-centered is-size-2 homeHeaderText">
        <span class="displaySection is-size-2">
          Latin America
        </span>
      </div>
    </div>
    <div class="columns is-multiline is-centered has-text-centered randomArtifactRow">
      <div class="column is-one-quarter randomArtifactColumn">
        <div class="columns has-text-centered">
          <div class="column artifactName">
            Artifact
          </div>
        </div>
        <img src="" class="cardMainImg">
        <div class="columns randomArtifactDescription">
          <div class="column artifactDescription">
            test
          </div>
        </div>
      </div>
      <div class="column is-one-quarter randomArtifactColumn">
        <div class="columns has-text-centered">
          <div class="column artifactName">
            Artifact
          </div>
        </div>
        <img src="" class="cardMainImg">
        <div class="columns randomArtifactDescription">
          <div class="column artifactDescription">
            test
          </div>
        </div>
      </div>
      <div class="column is-one-quarter randomArtifactColumn">
        <div class="columns has-text-centered">
          <div class="column artifactName">
            Artifact
          </div>
        </div>
        <img src="" class="cardMainImg">
        <div class="columns randomArtifactDescription">
          <div class="column artifactDescription">
            test
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      window.userLoggedIn = <%= user_signed_in? %>
      window.API_KEY = '<%= ENV['WALTERS_SECRET_KEY'] %>'
    </script>
