/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bulma-start/css/main.css
 *= require toastr/build/toastr.css
 *= require bulma-toast/dist/bulma-toast.min.css
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Teko');

html {
  height: 100%;
}

body {
  background-color: #f5f7f8;
  min-height: 100%;
}

.navBackground {
  background-color: #f5f7f8;
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbarLogo {
  height: 60px !important;
  width: 70px !important;
}

.searchBarField:focus {
  box-shadow: 2px 2px lightgrey;
  border-color: #ea5359;
}

.searchButton {
  background-color: #f5edf5 !important;
  font-family: 'Dosis', sans-serif;
  color: #ea5359;
}

.searchButton:hover {
  color: #f4edf5 !important;
  background-color: #ea5359 !important;
  box-shadow: 4px 5px 3px lightgrey;
}

a.userSessionLinks {
  color: #941318;
}

a.userSessionLinks:hover {
  color: #ea494b;
}

.stardefault {
  cursor: pointer;
}

.modal {
  display: none;
}

.modal-content {
  overflow: visible;
  padding: 3%;
  height: 100%;
  align-items: center;
  display: flex;
}

.modal-close:hover {
  background-color: #ea494b;
  transition: ease-in-out;
  transition-delay: 0.1s;
}

.modalImg {
  border-radius: 5px;
  animation: 1s modalImgSkew forwards;
  opacity: 0.9;
  box-shadow: 1px 1px 10px darkgrey;
}

.modal-background {
  background-image: url("/amazon-rainforest-wallpaper-4.jpg");
  opacity: 0.5;
  transition: background-image;
  transition-timing-function: ease-in-out;
}

.imgSize {
  min-height: 410px;
}
@keyframes modalImgSkew {
  0% {
    transform: skewY(0deg);
  }

  25% {
    transform: skewY(2deg);
  }

  50% {
    transform: skewY(4deg);
  }

  75% {
    transform: skewY(6deg);
  }

  100% {
    transform: skewY(8deg);
  }
}

.mainLogoText {
  font-size: 30px;
  text-shadow: 2px 2px darkgrey;
}

.navbar-burger {
  color: #ea5359;
  position: absolute;

top: 60px;
left: 40%;
font-size: 23px;
}

.navbar-burger:hover{
  box-shadow: 1px 1px 1px lightgrey;
    border-radius: 3px;
    background-color: rgb(234, 83, 89)
}

.navbar-item{
  justify-content:center;
}



@media screen and (max-width: 400px) {
  .signIN{
    justify-content:left;
  }
  .modal{
    justify-content: center;

  }

  .modalImg{
    animation:unset;
  }
  .sideMenuContainer {
    display: none;
    margin-top: 0;
    padding: 5px;
    width: 110px;
    animation: 0.5s mobileSideMenu forwards;
    transition: animation;
    transition-timing-function: ease-in-out;
    z-index: 1;
    box-shadow: 1px 1px 1px darkgrey;
    height: 65%;
  }

  .homeMainContainer {
    margin: 0 auto;
  }

  .listmenuOptions {
    padding-bottom: 15px;
    animation: 1s opacityText forwards;
    transition: animation;
    transition-timing-function: ease-in;
  }

  .menuLabelText {
    animation: 1s opacityText forwards;
  }

  .menu-label {
    margin-bottom: 0 !important;
  }

  .mobileSearchBarRow {
    display: block !important;
    margin: auto;
    justify-content: center;
  }

  .mobileSearchBarCol {
    display: block !important;
    margin-top: 5px;
  }

  .logOutMobile {
    position: absolute;
    left: 67%;
    width: 120px;
    bottom: 1px;
  }

  .navBackground {
    justify-content: space-between;
  }

  .randomArtifactColumn {
    width: 90% !important;
  }
  .mobileHome{
    position: absolute;
    left: 135px;
  }
  .signUp{
    position:absolute;
    top: 60px;
    left: 75%;
  }
  .profileMobile{
    justify-content: left;
  }

}
@keyframes mobileSideMenu {
  0% {
    width: 0;
  }

  25% {
    width: 30px;
  }

  50% {
    width: 60px;
  }

  75% {
    width: 90px;
  }

  100% {
    width: 110px;
  }
}
@keyframes opacityText {
  0% {
    opacity: 0.0;
  }

  25% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.6;
  }

  75% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

.mobileSearchBarRow {
  display: none;
  width: 95%;
}

.mobileSearchBarCol {
  display: none;
}

.mobileHome {
  display: none;
}
