/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bulma-start/css/main.css
 *= require toastr/build/toastr.css
 *= require bulma-toast/dist/bulma-toast.min.css
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Teko');


html {
  height: 100%;
}

body {
  background-color: #f5f7f8;
  min-height: 100%
}
.navBackground {
  background: linear-gradient(to right, #f5f6f8, #ea494b);
  box-shadow: 1px 1px 1px darkgrey;
  color: #444;
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbarLogo {
  height: 60px !important;
  width: 70px !important;
}

.searchButton {
  background-color: #f0c5c1 !important;
  font-family: 'Dosis', sans-serif;
}

.searchButton:hover {
  color: #444 !important;
}

a.userSessionLinks {
  color: #444;
}

a.userSessionLinks:hover {
  color: #ea494b;
}

.stardefault {
  cursor:pointer;
}

.modal {
  display: none;
}

.modal-content {
  overflow: visible;
  padding:3%;
  height: 100%;
  align-items: center;
  display: flex;
}
.modal-close:hover {
  background-color: #ea494b;
  transition: ease-in-out;
  transition-delay: 0.1s;
}
