// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signUpText {
  color: #ec9ba4;
  font-family: 'Dosis', sans-serif;
  text-shadow: 1px 2px lightgrey;
}

.formFieldBoxShadow:hover {
  box-shadow: 1px 1px 3px lightgrey;
}

.formFieldBoxShadow:focus {
  border-color: #efc5ca;
}

.mainUserContainer {
  margin-top: 50px;
}

.userProfileMainContainer {
  font-family: 'Dosis', sans-serif;
}

.heroBanner {
  background-color: #ea5359 !important;
  box-shadow: 1px 2px darkgrey;
  color: #f4f0f3;
}

.userInfoRow {
  align-items: center;
  height: 140px;
  margin-top:5px;
  box-sizing: border-box;

}

.updateLink {
  margin: auto;
  color: #ea5359;
  font-size: 25px;
}

.updateLink:hover {
  color: #ac3026;
  animation: 1s increaseFontSize;
  animation-fill-mode: forwards;
  transition: animation;
  transition-timing-function:  ease-in-out;
}
@keyframes increaseFontSize {
  0% {
    font-size: 26px;
  }

  100% {
    font-size: 30px;
  }
}

.favoriteImgSrc {
  border-radius: 5%;
}

.favoriteColumn {
  height:140px;
  border-right:1px solid #f8f8f957;

}
.favoriteImg {
  display:flex;
  justify-content:center;
  cursor:pointer;
}
.favoriteDescription {
  overflow: auto;
  background-color: #f5f7f8;
  color: #ea5359;
}

.favoritesContainer{
  margin-top:20px;
}

.favoritesText {
  font-family: 'Dosis', sans-serif;
}

.heroMainer {
  height: 120px;

}
.heroContainer {
  color: #ea5359;
}

.deleteCall {
  border:1px solid #f5f7f8;
  border-radius: 5px;
  padding: 4px;
  color: #f5f7f8;
}

.deleteCall:hover {
  background-color: #f5f7f8;
  color: #ea5359;
}
