// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signUpText {
  color: #ec9ba4;
  font-family: 'Dosis', sans-serif;
  text-shadow: 1px 2px lightgrey;
}

.formFieldBoxShadow:hover {
  box-shadow: 1px 1px 3px lightgrey;
}

.formFieldBoxShadow:focus {
  border-color: #efc5ca;
}

.mainUserContainer {
  margin-top: 50px;
}

.userProfileMainContainer {
  font-family: 'Dosis', sans-serif;
  margin-top: 50px;
}

.heroBanner {
  background: linear-gradient(141deg, #eebbc1 0%, #e9707a 71%, #ff5257 100%) !important;
  box-shadow: 1px 2px darkgrey;
  color: #f4f0f3;
  border-radius: 5px;
}

.userInfoRow {
  align-items: center;
  height: 140px;
  margin-top: 5px;
  border: 3px solid #ea858e;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px darkgrey;
}

.updateLink {
  margin: auto;
  color: #444444;
  font-size: 25px;
}

.updateLink:hover {
  color: #f4f0f3;
  animation: 1s increaseFontSize;
  animation-fill-mode: forwards;
}
@keyframes increaseFontSize {
  0% {
    font-size: 26px;
  }

  100% {
    font-size: 30px;
  }
}

.favoriteImgSrc {
  border-radius: 5%;
}

.favoriteColumn {
  height:140px;
  border-right:1px solid #f8f8f957;

}
.favoriteImg {
  display:flex;
  justify-content:center;
  cursor:pointer;
}
.favoriteDescription {
  overflow: auto;
}
